/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : May 7, 2019, 1:34:26 PM
    Author     : loan.nguyenkim
*/

body {
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: red;
}

table {
    text-align: left;
    margin: auto;
    border: 1px solid;
}

.message,
.error {
    font-weight: bold;
    color: red;
}

#myTable td,
#myTable tr {
    border: 1px solid black;
    text-align: center;
}

#myTable {
    width: 720px;
    border-collapse: collapse;
    border: 1px solid black;
}